@import "../less/bootstrap.less";
@import "variables.less";
@import "ionicons.less";

body {
	text-align: center;
	@media (min-width: 768px) {
		text-align: left;
	}
}
.alertsz-top {
	padding-top: 20px; margin-bottom: 25px;
	@media (min-width: 768px) {
		background: url(../images/bg.jpg) no-repeat center top; background-size: cover; color: #fff; padding-top: 50px; 
	}
	.container {
		.header {
			padding-bottom: 30px;
			.brand { 
				display: block; width: 130px; height: 153px; background: url(../images/alertsz-logo-mobile.png) no-repeat 0 0; text-indent: -999em; margin: 0 auto; 
				@media (min-width: 768px) {
					margin: 0 0; background: url(../images/alertsz-logo.png) no-repeat 0 0;
				}
			}
		}
		.jumbotron {
			padding: 0; background: none;
			h1 { font-size: 36px; line-height: 1.3; margin-bottom: 30px; font-weight: normal; font-weight: 100; }
			p { max-width: 500px; margin: auto; }
			@media (min-width: 768px) {
				p { font-size: 15px; margin: 0 0 50px; line-height: 1.5; }
			}
		}
		.screens { 
			min-width: 405px; min-height: 764px; padding-top: 112px; text-align: center; background: url(../images/phone.png) no-repeat top center; 
			@media (min-width: 768px) {
				position: absolute; right: 0; 
			}
			.carousel-inner {
				width: 304px; margin: 0 auto;
				img { margin: 0 auto; }
			}
		}
		.alertsz-features {
			text-align: center;
			@media (min-width: 768px) {
				margin-top: 180px; padding: 0 20px;
			}
			.item { 
				text-align: center; 
				h2 {
					.icon {
						@media (min-width: 768px) {
						
						}
					}
				}
				p { font-size: 15px; display: inline-block; max-width: 250px; }
			}
			.carousel-indicators {
				margin: 0; left: -15px; width: auto; top: 50%; margin-top: -50px;
				li { 
					display: block; margin: 0 0 20px;
					&.active { margin: 0 0 20px; height: 10px; width: 10px; }
				}
			}
		}
		.learn-more { 
			display: block; text-align: center; font-size: 15px; 
			i { margin: 0 5px 0 0; position: relative; top: 1px; }
			@media (min-width: 768px) {
				color: #fff;  margin-top: 30px; 
			}
		}
	}
}

.alertsz-bottom {
	.get-app { width: 203px; height: 70px; display: inline-block; margin-right: 25px; background: url(../images/get-app.png) no-repeat 0 0; text-indent: -999em; }
	.qr { display: inline-block; width: 70px; height: 70px; background: url(../images/qr.png) no-repeat 0 0; text-indent: -999em; }
	.patent { 
		text-align: center;  border-radius: 3px; line-height: 70px; font-size: 15px; color: @gray-light; text-transform: uppercase; margin: 20px;
		@media (min-width: 768px) {
			margin: 0; background: @gray-shade;
		}
		/*&:before { background: url(../images/patent.png) no-repeat 0 0; width: 50px; height: 50px; display: inline-block; content: ""; vertical-align: middle; }*/
	}
}

.navbar { 
	color: @gray-light; margin-bottom: 0;
	.navbar-header {
		.navbar-toggle{
			background: @brand-primary;
			.icon-bar { background: #fff; }
		}
	}
	
	li { 
		a { 
			color: @gray-light; 
			&:hover { background: none; color: @brand-primary; }
		}
		span { padding-bottom: 16px; padding-top: 16px; line-height: 18px; display: block; padding-right: 15px; }
	}
}

.content {
	border-bottom: 1px solid @gray-lighter; padding-bottom: 20px; margin-bottom: 40px;
	p { 
		font-size: 15px; line-height: 1.5; margin-bottom: 20px;  
		&.lead { font-size: 24px; }
	}
}

.how-it-works {
	position: relative; z-index: 1; background: #fff; padding: 30px 0 0; margin-top: 30px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); text-align: center;
	h2 { font-size: 34px; margin: 15px 0 30px; text-transform: uppercase; }
	.notification-type {
		i { 
			font-size: 50px; display: inline-block; width: 100px; height: 100px; border-radius: 100px; color: #fff; text-align: center; line-height: 100px;
			&.icon-post { background: @brand-post; }
			&.icon-emergency { background: @brand-emergency; }
			&.icon-sighting { background: @brand-sighting; }
		}
		p { font-size: 15px; line-height: 1.5; padding-left: 20px; padding-right: 20px; }
	} 
	&.active {
		i {
			&.bounce { 
				.animation(grow,.5s,ease,1); 
				&.bounce-b { -webkit-animation-delay: .3s; -moz-animation-delay: .3s; }
				&.bounce-c { -webkit-animation-delay: .6s; -moz-animation-delay: .6s; }
			}
		}
	}
	.features {
		background: @gray-shade; padding: 30px 0 0;
		.feature { 
			padding-bottom: 30px;
			i { font-size: 30px; display: inline-block; float: left; margin: 0 20px 20px 0; width: 35px; text-align: center; }
			p { font-size: 15px; padding-right: 20px; line-height: 1.5; overflow: hidden; display: block; zoom: 1; }
		}
	}
}

/*
.vertical {
	.carousel-inner {
    	height: 100%;
    	.item {
    		top: 0; .transition(top,0.6s,ease-in-out);
    		&.active { top: 0; }
		    &.next {
		    	top: 400px;
		    	&.left { top: 0; }
		    }
		    &.prev {
		    	 top: -400px;
		    	 &.right { top: 0; }
		    }
		    &.active { 
		    	&.left { top: -400px; }
		    	&.right { top: 400px; }
		    }
    	}
	}
}
*/
.vertical .carousel-inner { height: 100%; }
.carousel.vertical .item { -webkit-transition: 0.6s ease-in-out top; -moz-transition: 0.6s ease-in-out top; -ms-transition: 0.6s ease-in-out top; -o-transition: 0.6s ease-in-out top; transition: 0.6s ease-in-out top; }
.carousel.vertical .active { top: 0; }
.carousel.vertical .next { top: 400px; }
.carousel.vertical .prev { top: -400px; }
.carousel.vertical .next.left,
.carousel.vertical .prev.right { top: 0; }
.carousel.vertical .active.left { top: -400px; }
.carousel.vertical .active.right { top: 400px; }
.carousel.vertical .item { left: 0; }
.carousel.vertical .carousel-control { width: 100%; bottom: inherit; top: inherit; }
.carousel.vertical .carousel-control.left { top: 0; }

.cover { background: url(../images/bg.jpg) no-repeat center top; background-size: cover; position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; }
.coming-soon { position: absolute; left: 50%; top: 50%; margin: -90px -75px; color: #fff; display: block; width: 130px; padding-top: 164px; height: 180px; font-size: 15px; background: url(../images/alertsz-logo.png) no-repeat center 0; text-align: center; }

.logo { position: relative; z-index: 1; }

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@-moz-keyframes bouncedelay {
	0%, 80%, 100% { -moz-transform: scale(0.0) }
	40% { -moz-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {  
		transform: scale(0.0); -webkit-transform: scale(0.0); -moz-transform: scale(0.0);
	} 40% { 
    	transform: scale(1.0); -webkit-transform: scale(1.0); -webkit-transform: scale(1.0);
	}
}

@-webkit-keyframes grow {
	0%{-webkit-transform:scale(1, 1)}
	50%{-webkit-transform:scale(1.3, 1.3)}
	100%{-webkit-transform:scale(1, 1)}
}

@-moz-keyframes grow {
	0%{-moz-transform:scale(1, 1)}
	50%{-moz-transform:scale(1.3, 1.3)}
	100%{-moz-transform:scale(1, 1)}
}

@keyframes grow {
	0%{-webkit-transform:scale(1, 1); -moz-transform:scale(1, 1)}
	50%{-webkit-transform:scale(1.3, 1.3); -moz-transform:scale(1.3, 1.3)}
	100%{-webkit-transform:scale(1, 1); -moz-transform:scale(1, 1)}
}
